
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  text-decoration:none;
}

.modal, .overlay{
  width:100vw;
  height:100vh;
  inset: 0;
  position:fixed;
}

.overlay{
    background-color: rgb(26,26,26);
    opacity:.4;
}
.content{
  background:#b6b6b8;
  display:grid;
  grid-template-columns:70% 30%;
  height:1000px;
}
