
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  text-decoration:none;
}

p{
  white-space:normal;
}

div{
  border-radius:5%;
}
.modal, .overlay{
  width:100vw;
  height:100vh;
  inset: 0;
  position:fixed;
}

.overlay{
    background-color: rgb(26,26,26);
    opacity:.4;
}
.content{
  background:#d6d6d6;
  display:flex;
  border-radius:0;
  height:400px;
  justify-content:center;
}
