*,
*::before,
*::after{
  margin:0;
  box-sizing:border-box;
  padding:0;
  text-decoration:none;
}
#root{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
