.container>button{
  padding:.3em;
  background:red;
}

.top-container{
  display: flex;
  flex-direction: row;
}
.btn{
  font-size: var(--fs-sm);
  background: var(--background-grey);
  border: 1px solid black;
  border-radius: 3px;
  color: var(--text-grey);
  padding:.2em;
}

.btn:not(:disabled):hover{
    color:black;
    cursor: pointer;
}

.username{
  margin-right: 10px;
  font-size: calc(var(--fs-reg) - 3px);
}