.form{
  background:white;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%; 
  margin-top:10px;
  gap:10px;
}

.form>button{
  border:1px solid black;
  padding: .5em;
  border-radius: 5px;
  transition: transform .2s ease-in;
}

.form>button:not(:disabled):hover{
  transform: scale(1.05);
  cursor: pointer;
}

.input-container{
  width:80%;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
}

.input-container>label{
  width:100%;
  left:0;
  top:0;
  position: absolute;
  margin-left: 10px;
  margin-top:10px;
  color:var(--text-grey);
  cursor:default;
  user-select: none;
  pointer-events: none;
}

.input-container>textarea{
  width:100%;
  padding:10px;
  border-radius:5px;
  border:1px solid grey;
}

.input-container>textarea:focus{
  border: 1px solid black;
  outline: none;
}

.disabled{
  pointer-events: none;
  border:1px solid grey;
}