.modal, .overlay{
  width:100vw;
  height:100vh;
  inset: 0;
  position:fixed;
}

.overlay{
    background-color: rgb(26,26,26);
    opacity:.4;
}

.content{
    width:45%;
    padding:.8em;
    border-radius:7px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
    background: white;
}

@media(max-width:800px){
  .content{
    width:70%;
  }
}

.close-btn-wrap{
  display:flex;
  width:100%;
  justify-content:end;
} 

.close-btn{
  border:none;
  padding:.7em;
  display:flex;
  place-content: center;
  background-color:rgb(225,225,225);
  border-radius:50%;
  cursor:pointer;
}

.inner-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:1.5em;
    padding-top:0;
}

.user-policy-text{
  margin-top:.5em;
  margin-bottom:1em;
}

.link{
  color:blue; 
  cursor:pointer;
}

.link:hover{
  color:rgb(0,0,150)
}

.google-icon{
  place-self:start;
  width:20px;
}

.google-btn{
  display:flex;
  cursor:pointer;
  padding:.5em;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  width:80%;
  background-color:white;
  color:black;
  margin:1em;
}

.google-btn:hover{
  background-color:rgb(235,235,235)
}

.google-btn::after{
  width:100%;
  display:block;
  height:1px;

}

