.nav-container{
  z-index:100;
  position:sticky;
  display:flex;
  width:85%;
  height: fit-content;
  padding:1rem;
}

.logo-container{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  gap:8px;
  cursor:pointer
}

.log-in-btn{
  width:fit-content;
}
