.list{
  display:flex;
  flex-direction:column;
  gap:6px;
  background: white;
  width:100%;
  padding-left:15px;
  padding-block: 10px;
}

.container{
  margin-top:30px;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.container>h6{
  width:100%;
  padding:.5em;
  font-size: var(--fs-xl);
  color:white;
  background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
  border-radius: 8px 8px 0 0;
}
