.form {
    width: 30%;
    padding: 3em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 7px;
    gap: 5px;
}

.form>h2{
    text-align: center;
}
.form>p {
    color: red;
}

.form>input {
    width: 80%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px 15px;
}

.form>h2 {
    margin-bottom: 12px;
}

.form>button {
    margin-top: 15px;
    background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
    color: white;
    font-weight: var(--fw-b);
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
}

@media(max-width: 768px){
    .form{
        width: 90%;
        top: 20%;
    }
}