.join-btn{
  width:fit-content;
  margin: 0 0 20px .5rem;
  padding: 5px 30px;
  font-size: calc(var(--fs-reg) - .1em);
  font-weight: var(--fw-b);
  color:white;
  background-color:black;
  border-radius:15px;
  cursor: pointer;
}

.join-btn:hover{
  background-color:var(--overlay-color);
}