.content{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
border-radius:4px;
background:white;
border:1 px solid #0000001a;
margin-top:15px;
padding:15px;
}

.links{
display:flex;
justify-content:center;
align-items:center;
flex-direction:row;
border-bottom: 1px solid #e6e6e6;
padding:18px;
font-size:15px;
}

.links>*{
  text-align:center;
  color:black;
}

.copyright{
    font-size:12px;
    padding: 15px;
}
