.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container:has(.welcome-div){
    gap: 0;
}
.welcome-div{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}