.wrapper{
  font-size:14px;
  height:35vh;
  background:white;
  padding:15px;
  display:flex;
  align-items:center;
  border-radius:3px 3px 0 0;
  flex-direction:column;
  gap:10px;
  height:fit-content;
}
.create-post-btn,.create-channel-btn{
  font-weight:600;
  font-size:16px;
  cursor: pointer;
  padding:.2em;
  border-radius:15px;
  width:85%;
}
.create-post-btn{
  color:white;
  background:#FF0010;
}
.create-post-btn:hover{
  background:#DB000E
}

.create-channel-btn{
  color:#FF0010;
  background:white;
  border:1px solid #FF0010;
}
.create-channel-btn:hover{
  background:#f2f2f2;
}
.header{
  align-self:start;
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:5px;
}
