.wrapper{
  font-size:14px;
  height:35vh;
  background:white;
  display:flex;
  align-items:center;
  border-radius:3px 3px 0 0;
  flex-direction:column;
  gap:10px;
  height:fit-content;
  border-radius:15px 15px 0 0
}

.wrapper>:first-child{
  width:100%;
  height:2.5em;
  background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
  border-radius:10px 10px 0 0
}

.wrapper>p{
  padding-inline:20px;
}

.header{
  padding:10px;
  padding-top:0;
  align-self:start;
  display:flex;
  flex-direction:row;
  align-items: end;
}

.header>h3{
  margin-bottom:2px;
  font-size: calc(var(--fs-reg) + 5px);
}

.create-post-btn,.create-channel-btn{
  font-weight:600;
  font-size:calc(var(--fs-reg) - 1px);
  cursor: pointer;
  padding:.2em;
  border-radius:15px;
  width:85%;
}
.create-post-btn{
  margin-top:20px;
  color:white;
  background:var(--accent-red);
}
.create-post-btn:hover{
  background:#DB000E
}

.create-channel-btn{
  color:#FF0010;
  background:white;
  border:1px solid #FF0010;
  margin-bottom:20px;
}
.create-channel-btn:hover{
  background:#f2f2f2;
}

.channel-h1{
  width:100%;
  padding:.7em;
  font-size: var(--fs-xl);
  text-align: center;
  color:white;
  background: linear-gradient(135deg, rgb(82, 229, 231) 10%, rgb(19, 12, 183) 100%);
  border-radius:5px 5px 0 0;
}
