.post-container,.container{
  display:flex;
  flex-direction:column;
  gap:1em;
  align-items: center;
}
@media(min-width: 800px) {
  .container {
    max-width: 80vw;
    padding-bottom: 20px;
  }
}
.post-container,.post-container>li{
    width:100%;
}

