.post-container,.container{
  margin-block:1em;
  display:flex;
  flex-direction:column;
  gap:1em;
  align-items: center;
}
.container{
    max-width:80vw;
}
.post-container,.post-container>li{
    width:100%;
}

