.container{
  padding:10px;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  border-radius:4px;
  background:white;
  gap:10px;
}

.container>*{
    cursor:pointer;
}
.container>:nth-child(3):hover,.container>:last-child:hover{
   color:rgb(80,225,230); 
  }
.create-post-link{
  width:90%;
  background:#0000001a;
  padding:13px;
  border-radius:5px;
}
