
.content{
  background:white;
  border:1px solid #bfbfbf;
  border-radius:7px;
  display:grid;
  grid-template-columns:5% 95%;
  cursor:pointer;
}

.content.enalbed:hover{
  border: 1px solid black;
}

.inner-content{
  margin-left:8px;
  padding-top: .5em;
  padding-left: .5em;
}

@media (max-width: 687px){
  .inner-content{
    padding: 1em 1.5em;
  }
}

.channel-name{
  font-weight: var(--fw-b);
}

.inner-content>h1{
  padding-top:.6em;
  padding-bottom:1.2em;
  font-size: var(--fs-xl);
  margin-right:12px;
}

.inner-content>p{
  margin-block: .5em;
  margin-right:12px;
  font-size: var(--fs-reg);
}

.inner-content>:first-child{
  margin-block:.2em;
  font-size: var(--fs-sm);
}

.username:hover,.channel-name:hover{
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  cursor: pointer;
}

.post-image{
  max-width:70%;
  border-radius:1px;
  margin-block:.8em;
}

.options-container{
  margin-top:1em;
  display:flex;
  flex-direction:row;
  gap:15px;
}

.options-container>*{
  display:flex;
  text-align:center;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  padding:.3em;
  gap:8px;
  cursor:pointer
}

.options-container>*:hover{
  background:#bfbfbf;
  border-radius:4px 4px 0 0;
}

.redirect{
  pointer-events: none;
  cursor: default;
}

.redirect *{
  pointer-events:auto;
}

