.content{
  background:white;
  border:1px solid #bfbfbf;
  border-radius:7px;
  display:grid;
  grid-template-columns:5% 95%;
  cursor:pointer;
}

.inner-content{
  padding:1em;
  padding-bottom:0;
}

.inner-content>p{
  font-size: var(--fs-reg);
}

.inner-content>h1{
  padding-top:.6em;
  padding-bottom:1.2em;
  font-size: var(--fs-xl);
}

.inner-content>:first-child{
  margin-block:.2em;
  font-size: var(--fs-sm);
}

.username:hover,.channel-name:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.post-image{
  max-width:70%;
  border-radius:1px;
}

.redirect{
  pointer-events: none;
  cursor:auto;
}

.redirect>*{
  pointer-events:auto;
}


.options-container{
  margin-top:1em;
  display:flex;
  flex-direction:row;
  gap:15px;
}

.options-container>*{
  display:flex;
  text-align:center;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  padding:.3em;
  gap:8px;
  cursor:pointer
}

.comment-container.disabled{
  cursor:pointer;
}

.options-container>*:hover{
  background:#bfbfbf;
  border-radius:4px 4px 0 0;
}

.channel-name{
  font-weight: var(--fw-b);
}

