
.tooltip{
  position: relative;
}

.tooltip>*{
  cursor:pointer
}

.tooltip .tooltiptext{
  visibility: hidden;
  width: 140px;
  background-color: #666;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}

.tooltip>button{
  background: none;
  border: none;
  display:flex;
  align-items:center;
  justify-content: center;
}
