.rating{
  display:flex;
  padding:.3em 1em;
  background:#edf0ef; 
  flex-direction:column;
  align-items:center;
  justify-content:start;
  border-right:.3px solid var(--border-grey);
  border-radius: 7px 0 0 7px;
}

.rating>:first-child:hover,.rating>:last-child:hover{
  background:#bfbfbf;
  border-radius:5px;
    cursor: pointer;
}

.likes-count.liked,
.rating>:first-child.liked{
  color: var(--accent-blue);
}

.likes-count.disliked,
.rating>:last-child.disliked{
  color: var(--accent-red);
}

.likes-count{
  font-weight: var(--fw-b);
}