.form{
  width:40%;
  height:fit-content;
  padding:30px;
  place-self: center;
  display:flex;
  flex-direction:column;
  gap: 10px;
  background: white;
  border-radius: 5px;
}

@media(max-width: 768px){
  .form{
    width: 80%;
    align-self: start;
    margin-top: 30px;
  }
}
.input-container>div{
  color: red;
}

.form>select{
    width:fit-content;
    padding:10px;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top:5px;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.input-container>input,.input-container>textarea{
  padding:5px;
  border-radius:5px;
  border:1px solid grey;
}

.input-container>label{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form>button{
    background: black;
    color:white;
    padding:5px 20px;
    border-radius: 5px;
    font-size: var(--fs-reg);
    margin-top:15px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.no-channel-container{
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-channel-container a:link, .no-channel-container a:visited{
  color: blue;
}

.no-channel-container>p{
  margin-inline: 10px;
  text-align: center;
}