.inner-container, .outer-container{
  padding:3em 2em;
}

.outer-container{
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(to top left, rgb(206, 206, 206) 50%, lightgrey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container{
  width: 100%;
  display: grid; 
  grid-template-columns: 70% 30%;
  grid-gap:30px;
  place-items: center;
}

@media(max-width: 768px){
  .inner-container{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
  }
  .post-container{
    width: 95%;
  }
  .outer-container, .inner-container{
    padding: 2em 0;
    place-content: center;
  }
  .outer-container{
    justify-content: center;
  }
}

.post-container{
    background:white;
    border-radius: 10px;
    min-width: 95%;
}

.post-container>div{
  border:none;
}

.no-comments{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-block:10px;
}

.comments{
  margin-top:10px;
  margin-left:30px;
  margin-bottom: 20px;
  height: fit-content;
  width: 90%;
}