.inner-container, .outer-container{
  padding:3em 2em;
}

.inner-container{
  display: grid; 
  grid-template-columns: 70% 30%;
  grid-gap:20px;
  background-color:grey;
}

.outer-container{
  background-color: black;
  display:grid;
}

.post-container{
    background:white;
    border-radius: 10px;
}

.post-container>div{
  border:none;
}

.no-comments{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-block:10px;
  }

.comments{
  margin-top:10px;
  margin-left:10px;
}
