.content{
  background:white;
  border:1px solid #bfbfbf;
  border-radius:7px;
  display:grid;
  grid-template-columns:5% 95%;
  cursor:pointer;
}
.post-image{
  font-size:3rem;
  font-weight: 600;
}
.rating{
  display:flex;
  background:#edf0ef; 
  flex-direction:column;
  align-items:center;
  justify-content:start;
}

.likes-count.liked,
.rating>:first-child.liked{
  color:cyan;
}

.likes-count.disliked,
.rating>:last-child.disliked{
  color:red;
}


.likes-count{
  font-weight: 500;
}
.rating>:first-child:hover,.rating>:last-child:hover{
  background:#bfbfbf;
  border-radius:5px;
}
.options-container{
  display:flex;
  flex-direction:row;
  gap:15px;
}

.options-container>*{
  display:flex;
  text-align:center;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  padding:.3em;
  gap:8px;
}

.options-container>*:hover{
  background:#bfbfbf;
  border-radius:4px 4px 0 0;
}

.inner-content{
  padding:1em;
  padding-bottom:0;
}

.inner-content>p, .inner-content>h3{
  padding-block:1em;
}
