.preview>div>img{
  max-width:40%;
  margin:.5em;
}

.preview{
  max-width:70%;
  padding:15px;
  position:relative;
  display:flex;
  flex-direction:row;
  border:1px solid grey;
  border-radius: 5px;
  background: linear-gradient(to bottom right, white 80%, lightgrey)
}

.link{
    color:blue;
}

.link:visited{
    color:purple
}
