
.content{
    width:100%;
    height:100vh;
    padding:2em;
    border-radius:7px;
    position:absolute;
    display:flex;
    left:50%;
    transform: translateX(-50%);
    flex-direction:column;
    justify-content:center;
    background: white;
}

@media(min-width:800px){
  .content{
    width:45%;
    height: auto;
    padding:1em;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .inner-content{
    padding:3em;
  }
}

.close-btn-wrap{
  display:flex;
  width:100%;
  justify-content:end;
} 

.x:hover{
  color:#FF0010;
  cursor:pointer;
}

.inner-content{
    display:flex;
    padding:.5em;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-top:0;
}

.user-policy-text{
  margin-top:.5em;
  margin-bottom:1em;
  text-align:center;
}

.link{
  color:blue; 
  cursor:pointer;
}

.link:hover{
  color:rgb(0,0,150)
}

