
.outer-container{
  width:60%;
}

.search-container{
  width:60%;
  height:100%;
  margin: auto;
  border-radius:60px;
  background-color:#0000001a;
}

.search-container:hover{
  background:#0000002a
}

.search-container>form{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  background:none;
}

@media(max-width: 768px){
  .search-container{
    width: 90%;}
    .outer-container{
      width: 100%;
    }
}

.search-container label{
  position: absolute;
  color: grey;
  pointer-events: none;
font-size: calc(var(--fs-sm) + 4px)
}
.search-btn{
  margin-inline:.2em;
  padding-left: 1.2em;
  padding-right:.5em;
  cursor: pointer;
}

.search-btn:hover>svg>path{
  transition: .2s;
  color: blue;
}
.search-results{
  position:absolute;
}
.search-bar,.search-btn{
  border:none;
  background:none;
}

.search-bar{
  width:100%;
  padding:12px 20px;
  padding-left: 5px;
  outline:none;
  font-size:16px;
  color:gray;
}
