.no-results{
    color: black;
    width: 100%;
    background: linear-gradient(to bottom, white 90%, var(--background-grey));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.no-results>img{
    width: 40%;
}

.spelling{
    color: blueviolet;
}

.no-results>h1{
    margin-bottom: 10px;
    font-size: var(--fs-xl)
}

.results{
    background: linear-gradient(to top, var(--background-grey) 10%, white);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}