
.nav-container{
  position:sticky;
  top:0;
  z-index:3;
  display:flex;
  width:100%;
  background:white;
  justify-content:space-evenly;
  place-self:center;
  height: fit-content;
  padding:1rem;
}

.logo{
  width:9em;
  cursor:pointer;
}

@media(max-width: 768px){
  .logo{
    width:3.5em;
  }
}

.log-in-btn{
  font-size:16px;
  font-weight:450;
  padding:.6em;
  padding-inline:1em;
  border-radius:60px;
  border:none;
  background-color:rgb(50,215,220);
  cursor: pointer;
  color:white;
  font-weight: var(--fw-b);
}

.log-in-btn:hover{
  background-color:#2b65d9;
}
