.container{
  z-index:6;
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    left:50%;
    top: 10px;
    transform: translateX(-50%);
    background: white;
    padding: 40px;
    gap: 10px;
    border-radius: 10px;
}
.container>div{
  white-space: pre-wrap;
  text-align: center;
}
.button-container>button {
  font-size: var(--fs-reg);
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  transition: .3s;
  border-radius: 8px;
  cursor: pointer;
}
.button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.yes-btn:hover{
  background: green;
  color: white;
}
.yes-btn{
  color: green;
}
.no-btn{
  color: red;
}
.no-btn:hover{
  background: red;
  color: white;
}